---
layout: default
title: Plants
style: /assets/css/plants.css
script: /assets/js/plant_library.js
---

<div class="row row-cols-2 row-cols-sm-4 row-cols-md-6">
  {% for attr in site.data["filter_attributes"] %}
  <div class="col-md-2 accordion accordion-flush" id="accordion{{ attr }}">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading{{ attr }}">
        <button class="accordion-button collapsed about" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ attr }}" aria-expanded="false" aria-controls="flush-collapse{{ attr }}" id="{{ attr }}">
        <span>{{ attr | capitalize }}</span>
        </button>
      </h2>
      <div id="flush-collapse{{ attr }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ attr }}">
        <div class="accordion-body filters">
          {% capture rank %} {{ forloop.index }} {% endcapture %}
          {% for value in site.data["filter_values"][attr] %}
          {% capture id %}{{ attr }};{{ value | replace: ' ', '_' }}{% endcapture %}
          <button class="btn btn-primary plant-category filter-button {{ site.data["filter_classes"][id] }}" id="{{ id }}" data-rank="{{ rank }}">{{ value }}</button>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  <div class="col-md-2 accordion accordion-flush" id="accordion{{ attr }}">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-heading{{ attr }}">
        <button class="accordion-button collapsed about" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ attr }}" aria-expanded="false" aria-controls="flush-collapse{{ attr }}" id="{{ attr }}">
        <span>Sort By</span>
        </button>
      </h2>
      <div id="flush-collapse{{ attr }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ attr }}">
        <div class="accordion-body filters">
          <button class="btn btn-primary plant-category sort-button" id="name">Name</button>
          {% for attr in site.data["filter_attributes"] %}
          <button class="btn btn-primary plant-category sort-button" id="{{ attr }}">{{ attr | capitalize }}</button>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-2 row-cols-sm-4 row-cols-md-6 iso_grid" id="plant-content">
</div>


