<footer>
  <hr class="footer">
    <span style="font-size: large;">
      <a class="link" href="https://github.com/Nordegraf"><i class="fa-brands fa-github" title="GitHub Account"></i></a>&nbsp;
      <a class="link" href="https://gitlab.com/nordegraf"><i class="fa-brands fa-gitlab" title="GitLab Account"></i></a>&nbsp;
      <a class="link" href="mailto:{{ site.email }}"><i class="fa-solid fa-envelope" title="E-Mail"></i></a>&nbsp;
      <a class="link" href="https://twitter.com/TheNichelangelo"><i class="fa-brands fa-twitter" title="Twitter Account"></i></a>&nbsp;
      <a class="link" href="{{ "feed.xml" | relative_url }}"><i class="fa-solid fa-rss-square" title="Atom Feed"></i></a>
    </span><br>
    <span style="font-size: small;">
      &copy; Copyright 2022 Niklas Conen&nbsp;
    </span>
    <script src="{{ "/assets/js/bootstrap.bundle.min.js" | relative_url }}"></script>
</footer>