$body-bg: $bg;

$navbar-dark-color:                 rgba($primary, .6);
$navbar-dark-hover-color:           rgba($secondary, .85);
$navbar-dark-active-color:          $primary;
$navbar-dark-disabled-color:        rgba($primary, .25);
$navbar-dark-toggler-border-color:  rgba($primary, .1);

$pagination-bg:                     rgba(0, 0, 0, .2);
$pagination-border-color:           rgba(0, 0, 0, .8);

$pagination-hover-color:            $secondary;
$pagination-hover-bg:               rgba($primary, .6);
$pagination-hover-border-color:     rgba($primary, .9);

$pagination-active-color:           $text;
$pagination-active-bg:              rgba($primary, .2);
$pagination-active-border-color:    rgba($primary, .5);

$pagination-disabled-color:         rgba($primary, .2);
$pagination-disabled-bg:            rgba(0, 0, 0, .4);
$pagination-disabled-border-color:  rgba(0, 0, 0, .8);

$accordion-icon-color:              $secondary;
$accordion-button-active-color:     $secondary;
$accordion-button-focus-border-color: $secondary;
$accordion-button-active-bg:        $transparent;
$accordion-border-width:            0;



$hr-opacity: 1;

$fa-font-path:        "../fonts/fontawesome";

$card-bg: rgb(0, 45, 87);
$card-height: 100%
