.navbar {
    border-bottom: 3px solid $blue;
}

.nav-item:last-child {
    margin-right: -0.5rem;
}

hr.posts {
    border: 1px dashed $blue;
    border-top: 0px
}

hr.footer {
    color: $blue;
    border: 3px solid $blue;
    border-top: 0px;
}

.btn-primary:hover {
    color: $blue;
    background-color: $bg;
    border-color: $blue;
}

.blogpost {
    background-color: #001930;
}

.post-thumbnail {
    width: 100%;
    object-fit: cover;
}
