$blue: rgb(0, 195, 255);
$bg: rgb(13, 19, 27);
$text: rgb(164, 203, 209);

h1 {
    color: $blue;
}

p {
    color: $text
}

div {
    color: $blue;
}

a {
    color: $blue;
}

time {
    color: $text;
}

.pagination-a {
    text-decoration: none;
}

.pagination-a:hover {
    color: $bg;
    text-decoration: none;
}
