$primary: rgb(0, 195, 255);
$darkprimary: #001930;

$secondary: rgb(255, 174, 0);
$darksecondary: darken($secondary, 15%);

$bg: rgb(13, 19, 27);

$subheadlines: rgb(139, 228, 255);
$text: rgb(164, 203, 209);

$border_hr: $primary;

@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins/breakpoints";

.plant-container {
    position: relative;
    aspect-ratio: 1/1;
    overflow: hidden;
    text-align: center;
    padding: 0.5em;
}

.plant-container {
    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .image-container {
        border-radius: 3px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: .5s ease;
    padding: 0.5em;
}

.plant-name {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    color: white;
    width: 80%;
    font-size: 18px;
    position: absolute;
    align-content: center;
    top:80%;
    left:50%;
    transform:translate(-50%, -50%);
    transition: .5s ease;
}

.plant-container:hover {
    .overlay {
        opacity: 1;
    }

    .plant-name {
        background-color: rgba(0, 0, 0, 0.0);
    }
}

a.plant {
    padding: 0;
}

.accordion-item.plant {
    width: auto;
}

span.plant-filter {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 0.5rem;
    border-radius: 3px;
    font-size: 12px;
}

.accordion-body.filters {
    padding: 0 0rem;
}

button.plant-category {
    color: $primary;
    background-color: rgba(0, 0, 0, 0.0);
    padding: 0 0.5rem;
    margin: 0.01rem 0;
    border-radius: 3px;
    font-size: 12px;
    width: 100%;
}

.clicked {
    color: $secondary !important;
    border: $secondary 1px solid;

}

img.plant-img {
    border-radius: 5px;
}

iframe.plant-map {
    border-radius: 5px;
    aspect-ratio: 1/1;
    width: 100%;
}

.grid {
    max-width: 100%;
}

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
  }

.grid-sizer,
.grid-item {
  width: 20%;
}

.grid-item {
  float: left;
  border-radius: 5px;
}

.grid-item-carousel {
    width: calc(60% - 0.5rem);
    min-width: 350px;
    height: fit-content;
    margin: 0 0.25rem;
}

.grid-item-profile {
    min-width: 200px;
    width: calc(40% - 0.5rem);
    height: fit-content;
    margin: 0 0.25rem;
    padding: 0.5rem;
    border: 2px solid $primary;
}

.grid-item-notes {
    max-width: calc(100% - 0.5rem);
    min-width: calc(60% - 0.5rem);
    height: auto;
    margin: 0.5rem 0.25rem;
    padding: 0.5rem;
    border: 2px solid $primary;
}

@include media-breakpoint-down(md) {
    .grid-item-carousel {
        width: calc(100% - 0.5rem);
        min-width: 100%;
    }

    .grid-item-profile {
        width: calc(100% - 0.5rem);
        min-width: 100%;
        margin-top: 0.5rem;
    }

    .grid-item-notes {
        width: calc(100% - 0.5rem);
        min-width: 100%;
    }
}

.isogrid {
    height: auto;
}

.element-item {
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 10px;
    background: #888;
    color: #262524;
  }

  /* clear fix */
.isogrid:after {
    content: '';
    display: block;
    clear: both;
  }


.element-item > * {
    margin: 0;
    padding: 0;
  }