---
layout: empty
style: /assets/css/plants.css
---
<a class="plant{% for attr in site.data.filter_attributes %} {{ page.plant[attr] | replace: ' ', '_' }}{% endfor %}" href="{{ page.plant.url | relative_url }}" id="{{ page.plant.oid }}">
  <div class="col plant-container">
    <div class="image-container">
      <img src="{{ page.plant.images[0].path | relative_url }}" alt="" class="image">
    </div>
    <div class="overlay"></div>
    <div class="plant-name">{{ page.plant.name }}</div>
  </div>
</a>
