---
layout: empty
style: /assets/css/plants.css
---
<a class="plant{% for tag in page.tags %} {{ tag | replace: ' ', '_' }}{% endfor %}" href="{{ page.plant.name | replace: " ", "_" | downcase | prepend: "plants/" | append: ".html" | relative_url }}" id="{{ page.plant.oid }}">
  <div class="col plant-container">
    <div class="image-container">
      <img src="{{ page.plant.images[0].path | relative_url }}" alt="" class="image">
    </div>
    <div class="overlay"></div>
    <div class="plant-name">{{ page.plant.name }}</div>
  </div>
</a>
