---
---

<div class="grid">
    <div class="grid-sizer"></div>
    <div class="grid-item grid-item-carousel">
        {% capture carouselname %}carousel{{ page.name | replace: ' ', ''}}{% endcapture %}
        <div id="carousel{{ carouselname }}" class="carousel slide" data-bs-ride="carousel">
            {% if page.images.size > 1 %}
            <div class="carousel-indicators">
                {% for img in page.images %}
                <button type="button" data-bs-target="#carousel{{ carouselname }}" data-bs-slide-to="{{ forloop.index0 }}"{% if forloop.first %}class="active"{% endif %} aria-current="true" aria-label="{{ img.alt }}"></button>
                {% endfor %}
            </div>
            {% endif %}
            <div class="carousel-inner">
                {% for img in page.images %}
                <div class="carousel-item{% if forloop.first %} active{% endif %}">
                    <img src="{{ img.path | relative_url }}" class="d-block w-100 plant-img" alt="{{ img.alt }}">
                </div>
                {% endfor %}
            </div>
            {% if page.images.size > 1 %}
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ carouselname }}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ carouselname }}" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
            {% endif %}
        </div>
    </div>
    <div class="grid-item grid-item-profile">
        <h5>Date of Observation</h5>
        <p>{{ page.date | date: "%B %-d, %Y" }}</p>
        <h5>Common Name</h5>
        <p>{{ page.name }}</p>
        {% if page.scientific and page.name != page.scientific %}
        <h5>Scientific Name</h5>
        <p>{{ page.scientific }}</p>
        {% endif %}
        {% if page.synonyms %}
        <h5>Synonyms</h5>
        <p>{{ page.synonyms }}</p>
        {% endif %}
        {% if page.german %}
        <h5>German Name</h5>
        <p>{{ page.german }}</p>
        {% endif %}
        <h5>Country</h5>
        <p>{{ page.country }}</p>
        <h5>Location</h5>
        <p>{{ page.location }}</p>
        {% if page.coordinates %}
        {% capture zoom %}10{% endcapture %}
        {% capture lat %}{{ page.coordinates | split: ',' | first | replace: " ", "" }}{% endcapture %}
        {% capture lon %}{{ page.coordinates | split: ',' | last | replace: " ", "" }}{% endcapture %}
        {% capture xmin %}{{ lon | minus: zoom }}{% endcapture %}
        {% capture xmax %}{{ lon | plus: zoom }}{% endcapture %}
        {% capture ymin %}{{ lat | minus: zoom }}{% endcapture %}
        {% capture ymax %}{{ lat | plus: zoom }}{% endcapture %}
        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" class="plant-map" src="https://www.openstreetmap.org/export/embed.html?bbox={{ xmin }}%2C{{ ymax }}%2C{{ xmax }}%2C{{ ymin }}&amp;layer=mapnik&amp;marker={{ lat }}%2C{{ lon }}" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat={{ lat }}&amp;mlon={{ lon }}#map=17/{{ lat }}/{{ lon }}">show larger map</a></small>
        {% endif %}

        <h5>Photo By</h5>
        {% if page.by %}
        <p>{{ page.by}}</p>
        {% else %}
        <p>{{ site.author }}</p>
        {% endif %}
    </div>

    {% assign cont = page.content | strip_html | strip_newlines %}
    {% if cont != "" %}
    <div class="grid-item grid-item-notes">
        <h3>Notes</h3>
        {{ page.content }}
    </div>
    {% endif %}
</div>
