---
layout: default
---

<div>
    <h2>Posts tagged with {{ page.tagged }}</h2>
    {% for post in site.posts %}
      {% if post.tags contains page.tagged %}
        {% include preview.html %}
      {% endif %}
    {% endfor %}
    </ul>
</div>

<script type="text/javascript">
  function setDivHeight(textDiv, imgDiv) {
    document.getElementById(imgDiv).setAttribute("style",`height: ${document.getElementById(textDiv).clientHeight}px;`)
  }
  {% for post in site.posts %}
    {% if post.thumbnail and post.tags contains page.tagged%}
      setDivHeight("{{ post.id | append: 'text' }}", "{{ post.id | append: 'img' }}")
    {% endif %}
  {% endfor %}
</script>
